button{
  box-shadow: 0 0 5px #2f00eb;
  background-color: #2e00e8 !important;
}
.logo h3{
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #2900cb !important;
  text-transform: uppercase;
  user-select: none;
  color: var(--color-first);
}
