.button-container{
  button{
    box-shadow: 0 0 5px #6B4DE6;
    background-color: #6B4DE6 !important;
  }
}
.logo h3{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  color: var(--color-first);
}
