.button-container{
  button{
    box-shadow: 0 0 5px #3300ff;
    background-color: #3300ff !important;
  }
}
.logo h3{
  font-style: normal;
  color: #3300ff;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  color: #3300ff !important; 
}

#mare{
  background-image:url(https://www.focusjunior.it/content/uploads/2015/06/mare-blu.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}